:root {
  color-scheme: light dark;
}

/* Themes */

[data-theme="dark-theme"] {
  --text-color: #f4f4f4; /* Text color */
  --text-color-svg: brightness(0) saturate(100%) invert(82%) sepia(100%)
    saturate(15%) hue-rotate(355deg) brightness(109%) contrast(91%); /* #f4f4f4 */ /* Text color for svg icons */
  --background-color: #1a1a1a; /* Background color */
  --background-color-svg: brightness(0) saturate(100%) invert(5%) sepia(2%)
    saturate(48%) hue-rotate(314deg) brightness(101%) contrast(89%); /* #1a1a1a */ /* Background color for svg icons */
  --header-background-color: #000000; /* Header background color */
  --header-background-color-svg: brightness(0) saturate(100%) invert(0%)
    sepia(27%) saturate(6520%) hue-rotate(33deg) brightness(91%) contrast(106%); /* #000000 */ /* Header background color for svg icons */
  --footer-img-color: #cacaca; /* Footer image color */
  --footer-img-color-svg: brightness(0) saturate(100%) invert(93%) sepia(0%)
    saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Footer image color for svg icons */
  --footer-img-color-hover: #696969; /* Footer image color when hovered */
  --footer-img-color-hover-svg: brightness(0) saturate(100%) invert(44%)
    sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Footer image color for svg icons when hovered */
  --icon-unselected: brightness(0) saturate(100%) invert(44%) sepia(0%)
    saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Icon color when unselected */
}

[data-theme="light-theme"] {
  --text-color: #636363; /* Text color */
  --text-color-svg: brightness(0) saturate(100%) invert(43%) sepia(6%)
    saturate(0%) hue-rotate(193deg) brightness(87%) contrast(95%); /* #636363 */ /* Text color for svg icons */
  --background-color: #f4f4f4; /* Background color */
  --background-color-svg: brightness(0) saturate(100%) invert(82%) sepia(100%)
    saturate(15%) hue-rotate(355deg) brightness(109%) contrast(91%); /* #f4f4f4 */ /* Background color for svg icons */
  --header-background-color: #aaaaaa; /* Header background color */
  --header-background-color-svg: brightness(0) saturate(100%) invert(65%)
    sepia(0%) saturate(604%) hue-rotate(174deg) brightness(106%) contrast(87%); /* #aaaaaa */ /* Header background color for svg icons */
  --footer-img-color: #696969; /* Footer image color */
  --footer-img-color-svg: brightness(0) saturate(100%) invert(44%) sepia(0%)
    saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Footer image color for svg icons */
  --footer-img-color-hover: #cacaca; /* Footer image color when hovered */
  --footer-img-color-hover-svg: brightness(0) saturate(100%) invert(93%)
    sepia(0%) saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Footer image color for svg icons when hovered */
  --icon-unselected: brightness(0) saturate(100%) invert(93%) sepia(0%)
    saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Icon color when unselected */
}

/* Body */

body {
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  background-color: var(--background-color);
  color: #f4f4f4;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  text-align: right;
  color: #f4f4f4;
  color: var(--text-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vmax;
  padding: 0.5vmax;
  padding-right: 2%;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

main .clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vmin;
  height: 50vmin;
  border: 10px solid #f4f4f4;
  border: 10px solid var(--text-color);
  border-radius: 50%;
  margin: 1vmin auto;
  position: relative;
  padding: 3vmin;
  background: #1a1a1a;
  background: var(--background-color);
}

main .tick {
  position: absolute;
  width: 5px;
  height: 2%;
  background: #f4f4f4;
  background: var(--text-color);
  left: 50%;
}

main .pm {
  top: 0;
}

main .bm {
  top: 98.3%;
}

main .hpm {
  left: 98.3%;
  transform: rotate(90deg);
}

main .hbm {
  left: 0.3%;
  transform: rotate(90deg);
}

main .hand {
  width: 45%;
  right: 50%;
  height: 10px;
  background: #f4f4f4;
  background: var(--text-color);
  position: absolute;
  top: 50%;
  border-radius: 10px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5vmax;
  padding: 0.5vmax;
}

footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
  padding-left: 1%;
  width: 1.5vmax;
  height: 1.5vmax;
}

footer .link img {
  cursor: pointer;
  border-radius: 0%;
  filter: invert(93%) sepia(0%) saturate(28%) hue-rotate(159deg) brightness(84%)
    contrast(103%);
  filter: var(--footer-img-color-svg);
}
footer .link img:hover {
  filter: invert(44%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%)
    contrast(83%);
  filter: var(--footer-img-color-hover-svg);
}

/* Global */

img.icon {
  display: flex;
  filter: invert(82%) sepia(100%) saturate(15%) hue-rotate(355deg)
    brightness(109%) contrast(91%);
  filter: var(--text-color-svg);
}
img.icon.unselected {
  filter: invert(44%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%)
    contrast(83%);
  filter: var(--icon-unselected);
}

button:hover img.icon {
  filter: invert(5%) sepia(2%) saturate(48%) hue-rotate(314deg) brightness(101%)
    contrast(89%);
  filter: var(--background-color-svg);
}

button {
  padding: 15px 15px;
  background-color: #1a1a1a;
  background-color: var(--background-color);
  color: #f4f4f4;
  color: var(--text-color);
  border: 2px solid #f4f4f4;
  border: 2px solid var(--text-color);
  cursor: pointer;
  margin: 1vmax;
  border-radius: 50px;
}

button:hover {
  background-color: #f4f4f4;
  background-color: var(--text-color);
  color: #1a1a1a;
  color: var(--background-color);
}
