:root {
  color-scheme: light dark;
}

/* Themes */

[data-theme="dark-theme"] {
  --text-color: #f4f4f4; /* Text color */
  --text-color-svg: brightness(0) saturate(100%) invert(82%) sepia(100%)
    saturate(15%) hue-rotate(355deg) brightness(109%) contrast(91%); /* #f4f4f4 */ /* Text color for svg icons */
  --background-color: #1a1a1a; /* Background color */
  --background-color-svg: brightness(0) saturate(100%) invert(5%) sepia(2%)
    saturate(48%) hue-rotate(314deg) brightness(101%) contrast(89%); /* #1a1a1a */ /* Background color for svg icons */
  --border-color: #282828; /* Border color */
  --header-background-color: #000000; /* Header background color */
  --header-background-color-svg: brightness(0) saturate(100%) invert(0%)
    sepia(27%) saturate(6520%) hue-rotate(33deg) brightness(91%) contrast(106%); /* #000000 */ /* Header background color for svg icons */
  --footer-img-color: #cacaca; /* Footer image color */
  --footer-img-color-svg: brightness(0) saturate(100%) invert(93%) sepia(0%)
    saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Footer image color for svg icons */
  --footer-img-color-hover: #696969; /* Footer image color when hovered */
  --footer-img-color-hover-svg: brightness(0) saturate(100%) invert(44%)
    sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Footer image color for svg icons when hovered */
  --icon-unselected: brightness(0) saturate(100%) invert(44%) sepia(0%)
    saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Icon color when unselected */
}

[data-theme="light-theme"] {
  --text-color: #636363; /* Text color */
  --text-color-svg: brightness(0) saturate(100%) invert(43%) sepia(6%)
    saturate(0%) hue-rotate(193deg) brightness(87%) contrast(95%); /* #636363 */ /* Text color for svg icons */
  --background-color: #f4f4f4; /* Background color */
  --background-color-svg: brightness(0) saturate(100%) invert(82%) sepia(100%)
    saturate(15%) hue-rotate(355deg) brightness(109%) contrast(91%); /* #f4f4f4 */ /* Background color for svg icons */
  --border-color: #666666; /* Border color */
  --header-background-color: #aaaaaa; /* Header background color */
  --header-background-color-svg: brightness(0) saturate(100%) invert(65%)
    sepia(0%) saturate(604%) hue-rotate(174deg) brightness(106%) contrast(87%); /* #aaaaaa */ /* Header background color for svg icons */
  --footer-img-color: #696969; /* Footer image color */
  --footer-img-color-svg: brightness(0) saturate(100%) invert(44%) sepia(0%)
    saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Footer image color for svg icons */
  --footer-img-color-hover: #cacaca; /* Footer image color when hovered */
  --footer-img-color-hover-svg: brightness(0) saturate(100%) invert(93%)
    sepia(0%) saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Footer image color for svg icons when hovered */
  --icon-unselected: brightness(0) saturate(100%) invert(93%) sepia(0%)
    saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Icon color when unselected */
}

/* Body */

body {
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color, #1a1a1a);
  color: var(--text-color, #f4f4f4);
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vmax;
  padding: 0.5vmax;
  padding-right: 2%;
}

header .search {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

header .search input {
  outline: none;
  display: inline-block;
  width: 90%;
}

header .search input[type="text"] {
  border: none;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: var(--text-color, #f4f4f4);
  background-color: var(--background-color, #1a1a1a);
  font-size: 2vmax;
  height: 3vmax;
}

header .search .search-dropdown {
  position: absolute;
  display: none;
  background: var(--footer-img-color-hover, #696969);
  border-radius: 5px;
  left: 0;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  top: 5vmax;
}

header .search .search-dropdown a {
  cursor: pointer;
  text-decoration: none;
  display: block;
}
header .search .search-dropdown div {
  opacity: 50%;
}

header .menu {
  display: flex;
}

header.menu-hidden {
  transition: background-image 0.3s ease-in-out;
  background-image: none;
}
header.menu-hidden .search {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.2s, opacity 0.2s;
}
header.menu-hidden .menu {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

header.menu-visible {
  transition: background-image 0.3s ease-in-out;
  background-image: linear-gradient(
    200deg,
    var(--header-background-color),
    var(--background-color) 69%
  );
}
header.menu-visible .search {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s;
}
header.menu-visible .menu {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

header .menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vmin;
  margin-right: 1vmin;
  height: 4vmax;
  width: 4vmax;
}

header img.icon {
  height: 2vmax;
  width: 2vmax;
}

header .menu-button {
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

main .clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
  margin: 1vmin auto;
  position: relative;
  padding: 3vmin;
  background: var(--background-color, #1a1a1a);
  border: 7px solid var(--border-color);
  box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.outer-clock-face {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
  content: "";
  position: absolute;
  height: 100%;
  background: var(--text-color, #f4f4f4);
  z-index: 0;
  left: 49%;
  width: 5px;
  opacity: 0.66;
}

.outer-clock-face .marking {
  width: 3px;
  opacity: 0.33;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg);
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg);
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: var(--background-color, #1a1a1a);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

main .hand {
  width: 32%;
  right: 50%;
  height: 12px;
  background: var(--text-color, #f4f4f4);
  position: absolute;
  top: 50%;
  border-radius: 10px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 2;
  box-shadow: -2px -2px 5px rgba(67, 67, 67, 0.5),
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -2px -2px 5px rgba(67, 67, 67, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5vmax;
  padding: 0.5vmax;
}

footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
  padding-left: 1%;
  width: 1.5vmax;
  height: 1.5vmax;
}

footer .link img {
  cursor: pointer;
  border-radius: 0%;
  filter: var(
    --footer-img-color-svg,
    invert(93%) sepia(0%) saturate(28%) hue-rotate(159deg) brightness(84%)
      contrast(103%)
  );
}

footer .link img:hover {
  filter: var(
    --footer-img-color-hover-svg,
    invert(44%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%)
      contrast(83%)
  );
}

/* Global */

img.icon {
  display: flex;
  filter: var(
    --text-color-svg,
    invert(82%) sepia(100%) saturate(15%) hue-rotate(355deg) brightness(109%)
      contrast(91%)
  );
}
img.icon.unselected {
  filter: var(
    --icon-unselected,
    invert(44%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%)
      contrast(83%)
  );
}

button:hover img.icon {
  filter: var(
    --background-color-svg,
    invert(5%) sepia(2%) saturate(48%) hue-rotate(314deg) brightness(101%)
      contrast(89%)
  );
}

button {
  padding: 15px 15px;
  background-color: var(--background-color, #1a1a1a);
  color: var(--text-color, #f4f4f4);
  border: 2px solid var(--text-color, #f4f4f4);
  cursor: pointer;
  margin: 1vmax;
  border-radius: 50px;
}

button:hover {
  background-color: var(--text-color, #f4f4f4);
  color: var(--background-color, #1a1a1a);
}
